a {
  color: #5662a5;
}

.beamer-title {
  font-size: 95%;
  color: #6d6d72;
  text-transform: uppercase;
}

.beamer-title::first-letter {
    font-size: 114%;
}

.beamer-file-entry {
  color: #5662a5;
}

.beamer-now-playing {
  font-size: 110%;
  text-align: center;
  vertical-align: middle;
}

.beamer-now-playing-icon {
  color: #7fbf4d;
  margin-right: 10px;
}

.beamer-now-playing-file {
  font-style: oblique;
  font-weight: bold;
}

div.beamer-file-entry > i.fa {
  margin-right: 20px;
}
